<div class="container-fluid gradient-Bg vh-100">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col-sm-12 col-md-5">
            <div class="p-4">
                <h2>Hello, Welcome!</h2>
                
            </div>
            <div class="p-4">
                <h3>Please login to continue.</h3>
            </div>
            <div class="p-5">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                   
                    <div>
                      <label>
                        Email:
                        <input type="email" class="form-control mt-1" formControlName="email" placeholder="Your email">
                      </label>
                    </div>
                    <div class="pt-3">
                      <label>
                        Password:
                        <input type="password" class="form-control mt-1" formControlName="password" placeholder="Your password">
                      </label>
                    </div>
                    <button class="mt-3 btn btn-primary" type="submit">Login</button>
                  </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <img src="/assets/images/login.svg.svg" class="img-fluid" alt="...">
        </div>
    </div>
</div>